<p style="color: green"><%= notice %></p>

<% content_for :title, "Locations" %>

<h1>住所一覧</h1>

<div id="locations">
  <% @locations.each do |location| %>
    <%= render location %>
    <p>
      <%= link_to "住所詳細を表示", location %>
    </p>
  <% end %>
</div>

<%= link_to "新規作成", new_location_path %>
